// projectDetails.scss
.project-details {
  padding: 30px 47px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  button {
    width: 165px;
    height: 38px;
    padding: 10px, 39px, 10px;
    border-radius: 5px;
    border: none;
    background: black;
    font-size: 16px;
    font-weight: 310;
    line-height: 19px;
    color: white;
    transition: 0.2s;
  }

  button:hover {
    background-color: white;
    color: #4caf50;
    border: 1px solid black;
    box-shadow: 0px 0px 17px 0px;
  }

  .back-button {
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #555;
    transition: transform 0.3s ease-in-out;

    svg {
      margin-right: 8px;
    }

    &:hover {
      transform: translateX(-4px);
    }
  }

  .detailed_title {
    font-size: 40px;
    color: #333;
    margin: 30px 0px;
    font-weight: bold;
  }

  .project-info {
    display: flex;

    flex-wrap: wrap;

    .project-image {
      width: 100%;
      max-width: 450px;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      object-fit: cover;
    }

    p {
      color: #666;
      font-size: 18px;
      line-height: 1.6;
      width: 60%;
      margin-left: 50px;
    }
  }
}

// projectDetails.scss
.progress-bar {
  margin: 20px auto;
  width: 40%;

  .MuiLinearProgress-root {
    height: 8px;
    border-radius: 4px;
    margin-bottom: 8px;

    &.MuiLinearProgress-colorPrimary {
      background-color: #d2d1d1;
    }

    .MuiLinearProgress-bar {
      background-color: #00fe00;
    }
  }
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
}
.developer {
  display: flex;
  margin-bottom: 8px;
}

.developers-block,
.requirements-block {
  height: 300px;
  margin: auto;
  h3 {
    margin: 20px;
    font-size: 20px;
  }
}

.developer-info,
.requirements-block {
  font-size: 20px;

  li {
    margin-bottom: 10px;
  }
}
